# Node / Vite
Front/node_modules/
Front/dist/
Front/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Environment variables
.env
.env.local

# Firebase
serviceAccountKey.json
*.json
!package.json
!package-lock.json

